.cardIngredient{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
  }

.headerModal {
    align-self: flex-start;
}

.info {
   
    margin: auto;
    list-style: none;
    display: flex;
    text-align: center;
    padding: 0;
    
}

.info > li {
    margin: 10px;
}